--- 
layout: default 
---
<div class="container limited">
    <section class="row">
        <div class="col-12 text-left">
            {% include modules/page-title.html subTitle="HOSTING, SEARCH, CURATION…" title="Decentralized Application Technology Partners" wrapperClass="text-center" %}
        </div>
        <p class="medium mt-5 mb-4">
            OpenBazaar is an open source network and relies on the collaboration of our community to grow. Here are some of our decentralized technology and development partners.
        </p>
        {% include modules/partner.html 
            title="BlockBooth"
            subTitle="OpenBazaar search engine"
            body="BlockBooth is an OpenBazaar search engine that indexes listings, vendors and users on the OpenBazaar network."
            link="https://blockbooth.com/"
            imgSrc="applications/BlockBooth_logo2.png"
            imgAlt="BlockBooth logo"
        %}
        {% include modules/partner.html 
            title="Mubiz"
            subTitle="OpenBazaar on the web"
            body="Mubiz allows you to buy and sell products on OpenBazaar through the convenience of a website. It was the first European e-commerce website on OpenBazaar thanks to the acceptance of the CB payments and the translation of the pages. Created in Nov. 2015, the company has 3 employees and published the beta version of the site in September 2016."
            link="http://mubiz.com/"
            imgSrc="applications/mubiz.jpg"
            imgAlt="Mubiz logo"
        %}
        {% include modules/partner.html 
            title="P2P VPS"
            subTitle="Peer-to-peer virtual private servers"
            body="P2P VPS aspires to create a peer-to-peer (P2P) marketplace offering Virtal Private Servers (VPS), similar to Digital Ocean or Vultr. However, instead of using a data center, the marketplace would use an array of psudo-anonymous IoT devices (like the Raspberry Pi) or Virtual Machines (VMs) hosted by people participating in the marketplace. Anyone with an internet connection and a device capable of running Docker can rent that device in the P2P VPS marketplace"
            link="http://p2pvps.org/"
            imgSrc="applications/p2pvp.org_.png"
            imgAlt="P2P VPS logo"
        %}
    </section>
</div>