--- 
layout: default 
---
<div class="container limited">
    <section class="row">
        <div class="col-12 text-left">
            {% include modules/page-title.html title="Contributors" subTitle="THANK YOU!!" wrapperClass="text-center" %}
        </div>
        <div class="col-12">
            <p>OpenBazaar is made possible by an international community of developers and volunteers contributing their time to help make trade free. This is a partial list of people who have contributed to the project, either through code or other assistance.</p>
            <ul class="contributors-list my-5">
                <li>Giannis Adamopoulos</li>
                <li>Ariadni-Karolina Alexiou</li>
                <li>Tikhon Bernstam</li>
                <li>Brad Burnham</li>
                <li>George Chatzisofroniou</li>
                <li>Patrick Connolly</li>
                <li>Chris Dixon</li>
                <li>Simon de la Rouviere</li>
                <li>Braden Glasgow</li>
                <li>Brian Hoffman</li>
                <li>Ben Holden-Crowther</li>
                <li>Joshua Jeffryes</li>
                <li>Nikolas Koråasidis</li>
                <li>Regan Lawton</li>
                <li>Sami Lehtinen</li>
                <li>Angel Leon</li>
                <li>Joye Lin</li>
                <li>Joel Monegro</li>
                <li>William Mougayar</li>
                <li>Jonas David Nick</li>
                <li>Onename</li>
                <li>Chris Pacia</li>
                <li>Sam Patterson</li>
                <li>Chara Podimata</li>
                <li>Samuel Reed</li>
                <li>Washington Sanchez</li>
                <li>Aeron Paul Sioson</li>
                <li>Adrian Smith</li>
                <li>Adam Snodgrass</li>
                <li>Thomas Stilwell</li>
                <li>Amir Taaki</li>
                <li>Mike Wolf</li>
                <li>Dionysis Zindros</li>
                <li>secret-bitcoin-login</li>
                <li>Rav3nPL</li>
                <li>El–Presidente</li>
                <li>Tinytin</li>
                <li>ULRichard</li>
            </ul>
        </div>
    </section>
</div>