--- 
layout: default 
---
<div class="container limited">
    <section class="row">
        <div class="col-12 text-left">
            {% include modules/page-title.html title="Developers" wrapperClass="text-center" %}
        </div>
        <div class="col-12">
                {{content}}
            </div>
        <div class="col-12">
            <iframe class="typeform" width="100%" height="100%" frameborder="0" src="https://jenncloud.typeform.com/to/ZoXCzP?typeform-embed=embed-widget"
                data-qa="iframe"></iframe>
        </div>
        <div class="col-12">
            <h3 class="section-sub-title mt-5">
                Join our community!
            </h3>
            <ul class="list-unstyled">
                <li>
                    <a class="alternative-link" href="https://openbazaar.org/slack">OpenBazaar Slack</a>
                </li>
                <li>
                    <a class="alternative-link" href="https://discord.gg/0aeeKzHlQ0EfTeuj">OpenBazaar Discord</a>
                </li>
                <li>
                    <a class="alternative-link" href="https://t.me/OpenBazaarGroup">OpenBazaar Telegram</a>
                </li>
                <li>
                    <a class="alternative-link" href="https://reddit.com/r/openbazaar">OpenBazaar Reddit</a>
                </li>
            </ul>
        </div>
        <div class="col-12 text-left">
            <h3 class="text-center mb-5 emphasis-text">Call Notes</h3>
            <h4 class="mb-3">
                <a class="alternative-link" href="https://www.openbazaar.org/blog/openbazaar-developer-call-march-1-2018/">
                    OpenBazaar Developer Call – March 1, 2018
                </a>
            </h4>
            <p class="list-date">March 1, 2018</p>
            <p>Attendees: OB1 team – 4 Guests – 5 Upcoming releases: Verified moderators program – 45 day auto-release – After 45 days there’s an auto-release to sellers on offline and moderated payments & we’ve made it easier to release these funds. This...</p>
        </div>
    </section>
</div>