--- 
layout: default 
---
<div class="container limited">
    <section class="row">
        <div class="col-12 text-left">
            {% include modules/page-title.html title="Download" subTitle="FOR WINDOWS/MAC/LINUX" wrapperClass="text-center" %}
        </div>
        <div class="col-12">
            <div class="card-deck text-center">
                <div class="card py-4">
                    {% asset download/apple-logo-black.png class="download-logo mx-auto" alt="apple logo" %}
                    <div class="card-body">
                        <h3 class="card-title download-title">OpenBazaar for Mac</h3>
                        <a class="alternative-link download-link" href="https://github.com/OpenBazaar/openbazaar-desktop/releases/download/v2.3.3/OpenBazaar2-2.3.3.dmg">64-bit</a>
                    </div>
                </div>
                <div class="card py-4">
                    {% asset download/windows-logo.png class="download-logo mx-auto" alt="windows logo" %}
                    <div class="card-body">
                        <h3 class="card-title download-title">OpenBazaar for Windows</h3>
                        <a class="alternative-link download-link" href="https://github.com/OpenBazaar/openbazaar-desktop/releases/download/v2.3.3/OpenBazaar2-2.3.3-Setup-32.exe">32-bit</a>
                        |
                        <a class="alternative-link download-link" href="https://github.com/OpenBazaar/openbazaar-desktop/releases/download/v2.3.3/OpenBazaar2-2.3.3-Setup-64.exe">64-bit</a>
                    </div>
                </div>
                <div class="card py-4">
                    {% asset download/linux-logo.png class="download-logo mx-auto" alt="linux logo" %}
                    <div class="card-body">
                        <h3 class="card-title download-title">OpenBazaar for Linux</h3>
                        <a class="alternative-link download-link" href="https://github.com/OpenBazaar/openbazaar-desktop/releases/download/v2.3.3/openbazaar2_2.3.3_i386.deb">32-bit (deb)</a>
                        |
                        <a class="alternative-link download-link" href="https://github.com/OpenBazaar/openbazaar-desktop/releases/download/v2.3.3/openbazaar2_2.3.3_amd64.deb">64-bit (deb)</a>
                        <br/>
                        <a class="alternative-link download-link" href="https://github.com/OpenBazaar/openbazaar-desktop/releases/download/v2.3.3/openbazaar2-2.3.3.i386.rpm">32-bit (rpm)</a>
                        |
                        <a class="alternative-link download-link" href="https://github.com/OpenBazaar/openbazaar-desktop/releases/download/v2.3.3/openbazaar2-2.3.3.x86_64.rpm">64-bit (rpm)</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-5">
            {% include modules/embeded-video.html url="https://www.youtube.com/embed/VzlerMJMOu8"%}
        </div>
        <div class="col-12">
            <div class="list-border">
                <div class="d-flex flex-row justify-content-between p-3">
                    <h3 class="collapsable-title">About OpenBazaar</h3>
                    <a class="ml-auto d-block collapsable-toggler" data-toggle="collapse" href="#download-collapsable" role="button" aria-expanded="false" aria-controls="download-collapsable">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                </div>
                <div class="collapse collapse-body" id="download-collapsable">
                    <div class="p-3">
                            <p>
                                OpenBazaar is the world’s first and only fully decentralized marketplace, which means it connects people directly and securely to each other via a peer-to-peer network rather than through a centralized website like online marketplace giants Alibaba, Amazon, or eBay.
                            </p>
                            <p>
                                OpenBazaar users can expect the most secure, most private, and most liberating experience of any ecommerce marketplace because it gives users complete control of their data and their business. There’s no big company behind the scenes that can act as a gatekeeper, collect data, or restrict transactions for anyone. And as a natural result of this, users don’t pay any fees to use OpenBazaar, ever, and there are no terms and conditions to sign.
                            </p>
                            <p>
                                Users can also enjoy participating in the digital currency economy however they’d like. Pay with your favorite coins from 50+ cryptocurrencies that are supported on OpenBazaar via ShapeShift integration such as Bitcoin, Ethereum, Litecoin, Zcash, Dash, etc. and sellers can set up their stores to receive payment in their choice of Bitcoin, Bitcoin Cash or Zcash.
                            </p>
                            <p>
                                Questions? Check out our <a class="alternative-link" href="{{site.baseurl}}/support">Support page</a> for ways to get in touch.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
