--- 
layout: default 
---
<div class="container limited">
    <section class="row">
        <div class="col-12 text-left">
            {% include modules/page-title.html subTitle="TRULY DECENTRALIZED, PEER-TO-PEER ECOMMERCE" title="Features" wrapperClass="text-center" %}
            <p class="medium mt-5">OpenBazaar costs nothing to download and use. Unlike sites like Ebay or Amazon there are no fees to list items,
                and no fees when an item is sold. Because the trade is p2p (peer to peer), it’s happening directly between
                buyers and sellers with no middleman to take a cut from each sale. It’s completely free e-commerce.
            </p>
            {% include modules/info-section.html 
                title="Easy Setup" 
                body="Setting up your own web server for an ecommerce store is difficult and requires specialized knowledge. Many sellers end up
                paying someone else to set up their store. Setting up an OpenBazaar store is simple. Download the program, run the installer,
                and you’ll be listing your items in minutes."
                imgSrc="features/openbazaar-2.0-easy-install2.gif"
                imgAlt="easy setup"
            %}
            {% include modules/info-section.html 
                title="Search" 
                body="OpenBazaar now comes pre-loaded with your favorite search engines. Browse products from many stores without ever leaving OpenBazaar. Filter by shipping location, listing type, rating, condition & much more!"
                imgSrc="features/openbazaar-2.0-discover-experience.gif"
                imgAlt="search feature"
            %}
            {% include modules/info-section.html 
                title="Earn & Use Bitcoin (Built in Bitcoin Wallet)" 
                body="OpenBazaar uses Bitcoin, the leading cryptocurrency. Existing online payment systems such as credit cards are tied to identity, cost money to accept, and risk identity theft. Bitcoin is more private, has no risk of identity theft, and costs little to use. Third party payment processors aren’t able to hold funds or reverse transactions; how to use Bitcoin is up to you."
                imgSrc="features/openbazaar-2.0-wallet-payment.gif"
                imgAlt="earn bitcoin"
            %}
            {% include modules/info-section.html 
                title="Secure Escrow and Dispute Resolution" 
                body="Scammers may try to take advantage of both buyers and sellers online, but OpenBazaar offers a unique feature of Bitcoin that helps prevent fraud: Multisignature escrow. In this e-commerce marketplace buyers and sellers can choose to agree to a mutually trusted third party OpenBazaar user before they start a trade, and then the buyer sends their bitcoin to an escrow account. Those Bitcoin can only be released when two out of the three parties agree where it will be sent. Normally the buyer and seller are the two parties in agreement, but if there is a dispute the third party will come settle the dispute. These third parties offering dispute resolution are selected in an open marketplace. <br><br>It’s important to choose a moderator that is trustworthy for both parties on a decentralized network so make sure to join the OpenBazaar discussion communities and learn How To Choose a Good Moderator."
                imgSrc="features/openbazaar-2.0-checkout.gif"
                imgAlt="Secure Escrow and Dispute Resolution"
            %}
            {% include modules/info-section.html 
                title="Product Variants" 
                body="Add variations of your product, such as size, color or material. Each variation of your product will display within select menus on the product detail screen. Shoppers can easily select the variation of the product that works best for them."
                imgSrc="features/openbazaar-2.0-variants.gif"
                imgAlt="Product Variants"
            %}
            {% include modules/info-section.html 
                title="Inventory Management" 
                body="Track inventory for each product or for each product variant combination. Inventory quantities automatically decrement as purchases are made. Once inventory for a specific product reaches zero, the product will display as out of stock."
                imgSrc="features/openbazaar-2.0-inventory-management.gif"
                imgAlt="Inventory Management"
            %}
            {% include modules/info-section.html 
                title="Shipping Options" 
                body="Create shipping options for specific shipping destinations (e.g. United States). Each shipping option can have many service types (e.g. Standard, Express, Overnight, etc) with unique prices. Shoppers can choose the shipping service that best fits their needs."
                imgSrc="features/openbazaar-2.0-shipping.gif"
                imgAlt="Shipping Options"
            %}
            {% include modules/info-section.html 
                title="Live Chat"
                body="Every user on the OpenBazaar network has access to an encrypted chat feature, and can talk to any other user on the network. Buyers can ask sellers about their products. Sellers can confirm shipping details or offer customer support. If a dispute arises, all parties can talk to a trusted third party to help settle the dispute. All conversations are end-to-end encrypted for privacy."
                imgSrc="features/openbazaar-2.0-live-chat.gif"
                imgAlt="Live Chat"
            %}
            {% include modules/info-section.html 
                title="Order Management" 
                body="Manage and fulfill orders directly from within OpenBazaar. The simple to use interface displays all of your orders in a table view, sorted by most recent orders at the top. Clicking an order displays the finer details and functionality to fulfill the order in a few clicks."
                imgSrc="features/openbazaar-2.0-fulfill-order.gif"
                imgAlt="Order Management"
            %}
            {% include modules/info-section.html 
                title="Is This Site (OpenBazaar) Like Ebay or Amazon?" 
                body='It is similar, but with this special software the users are completely in control. This means great freedom for buyers and sellers as they can transact apart from centralized bodies like Ebay or Amazon, but also great responsibility for all of their own files, data and transactions. Learn more about what this whole new landscape of liberated ecommerce means and how OpenBazaar can work for you on our <a href="https://openbazaar.zendesk.com/hc/en-us">FAQ</a>!'
                imgAlt="Is This Site (OpenBazaar) Like Ebay or Amazon?"
            %}
        </div>
    </section>
</div>