---
layout: default
---
<div class="container">
    <section class="row">
        <div class="col-12 text-center">
            {% include modules/page-title.html
                subTitle='A FREE ONLINE MARKETPLACE. NO PLATFORM FEES. NO RESTRICTIONS. EARN CRYPTOCURRENCY <i class="fab fa-bitcoin"></i>'
                title="Buy and Sell Freely"
            %}
            <a href="{{site.baseurl}}/mobile-updates" class="button big download d-lg-none">Get It for Desktop</a>
            <a href="{{site.baseurl}}/download" class="button big download d-none d-lg-inline-flex">DOWNLOAD</a>
            <div class="button-subtitle">
                <span class="d-lg-none">
                    <div>
                        OpenBazaar is currently for Desktop only.
                    </div>
                    <div>
                        Email yourself a reminder link to download on Desktop.
                    </div>
                </span>
                <span class="d-none d-lg-block">for Windows/Mac/Linux</span>
            </div>
            {% asset home/openbazaar-2.0-teaser.jpg class="big-centered-image mt-5" alt="openbazaar teaser" %}
        </div>
    </section>
</div>
<div class="container-fluid primary-background pull-upwards">
    <div class="container">
        <section class="row extra">
            <div class="col-12">
                <h2 class="title">Sell Anything. Pay Zero Platform Fees.</h2>
                <h3 class="subtitle mb-5">
                    Create a store. Sell whatever you’d like. Reach a new audience. Get paid in cryptocurrency.
                </h3>
            </div>
            <div class="col-12 col-md-7 col-lg-8">
                {% asset home/homepage-store.jpg class="big-left-image img-fluid" alt="openbazaar store" %}
            </div>
            <div class="col-12 col-md-5 col-lg-4">
                <ul class="feature-list list-unstyled mt-2 mt-md-0">
                    <li class="feature-list-item">
                        <i class="fas fa-check feature-check"></i>No Platform Fees</li>
                    <li class="feature-list-item">
                        <i class="fas fa-check feature-check"></i>No Monthly Fees</li>
                    <li class="feature-list-item">
                        <i class="fas fa-check feature-check"></i>No Listing Fees</li>
                    <li class="feature-list-item">
                        <i class="fas fa-check feature-check"></i>No Bank / CC Required</li>
                    <li class="feature-list-item">
                        <i class="fas fa-check feature-check"></i>Live Chat with Customers</li>
                    <li class="feature-list-item">
                        <i class="fas fa-check feature-check"></i>Customize Your Store</li>
                    <li class="feature-list-item">
                        <i class="fas fa-check feature-check"></i>Peer to Peer (no middleman)</li>
                </ul>
            </div>
        </section>
    </div>
</div>
<div class="container-fluid secondary-background pull-upwards-extra">
    <div class="container">
        <section class="row extra">
            <div class="col-12">
                <h2 class="title secondary-title">Shop The World</h2>
                <h3 class="subtitle mb-5">
                    Browse and support small businesses from 30+ countries (Thailand, Slovakia, USA, Brazil, India, Italy…)
                </h3>
            </div>
            <div class="col-12 col-md-5 col-lg-4">
                <ul class="feature-list mt-2 mt-md-0">
                    <li class="feature-list-item secondary-feature">
                        <i class="fas fa-check feature-check"></i>Music, Games, Videos</li>
                    <li class="feature-list-item secondary-feature">
                        <i class="fas fa-check feature-check"></i>Clothes, Art, Jewelry</li>
                    <li class="feature-list-item secondary-feature">
                        <i class="fas fa-check feature-check"></i>Bnbs (short term rentals)</li>
                    <li class="feature-list-item secondary-feature">
                        <i class="fas fa-check feature-check"></i>International Goods</li>
                    <li class="feature-list-item secondary-feature">
                        <i class="fas fa-check feature-check"></i>Rare &amp; Hard to find items</li>
                    <li class="feature-list-item secondary-feature">
                        <i class="fas fa-check feature-check"></i>Local Foods and Beverages</li>
                    <li class="feature-list-item secondary-feature">
                        <i class="fas fa-check feature-check"></i>No Platform Fees, Lower Prices</li>
                </ul>
            </div>
            <div class="col-12 col-md-7 col-lg-8">
                {% asset home/world.jpg class="big-left-image img-fluid" alt="map of world" %}
            </div>
        </section>
    </div>
</div>
<div class="container">
    <section class="row extra pb-0">
        <div class="col-12">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="title">Frequently Asked Questions</h2>
                    <hr class="title-separator">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7 col-lg-8">
            <h3 class="faq-title">What is OpenBazaar?</h3>
            <p class="mb-4 mt-2">OpenBazaar is a different way to do online commerce. It’s a peer to peer application that doesn’t require middlemen,
                which means no fees & no restrictions.</p>
            <h3 class="faq-title">How does OpenBazaar work?</h3>
            <p class="mb-4 mt-2">OpenBazaar connects people directly via a peer to peer network. Data is distributed across the network instead
                of storing it in a central database.</p>
            <h3 class="faq-title">How are there no fees and restrictions?</h3>
            <p class="mb-4 mt-2">OpenBazaar isn’t a company nor an organization; it’s free
                <a class="general-link" href="download/">open source software</a>. It was built to provide everyone with the ability to buy and sell freely
                <img draggable="false"
                    class="emoji" alt="✌" src="https://s.w.org/images/core/emoji/2.4/svg/270c.svg">
            </p>
            <h3 class="faq-title">Who controls the OpenBazaar network?</h3>
            <p class="mb-4 mt-2">Nobody has control over OpenBazaar. Each user contributes to the network equally and is in control of their own
                store and private data
                <img draggable="false" class="emoji" alt="world emoji" src="https://s.w.org/images/core/emoji/2.4/svg/1f30e.svg">
            </p>
            <h3 class="faq-title">Is Bitcoin the only supported payment method?</h3>
            <p class="mb-4 mt-2">Pay with multiple cryptocurrencies on OpenBazaar:
                <a class="general-link" href="https://bitcoin.org/" target="_blank"
                    rel="noopener noreferrer">Bitcoin</a>,
                <a class="general-link" href="https://www.bitcoincash.org/" target="_blank" rel="noopener noreferrer">Bitcoin Cash</a>,
                <a class="general-link" href="https://litecoin.org/" target="_blank" rel="noopener noreferrer">Litecoin</a>, and
                <a class="general-link" href="https://z.cash/" target="_blank" rel="noopener noreferrer">Zcash</a>. More cryptocurrencies to come.
                <i class="fab fa-bitcoin"></i>
            </p>
        </div>
        <div class="col-12 col-md-5 col-lg-4">
            <h5 class="mild-text">WORDS FROM FANS</h5>
            <ul class="list-unstyled">
                <li class="media testimonial p-2 mb-2">
                    {% asset home/testimonials/testimonial1.png class="mr-3 testimonial-image" alt="testimonial 1 avatar" %}
                    <div class="media-body">
                        <h6 class="mt-0 testimonial-name">Andreas Antonopoulos</h6>
                        <div class="testimonial-text">
                            Enjoying the
                            <a href="https://twitter.com/@openbazaar">@OpenBazaar</a> beta, trying out a simple store for digital goods. This is going to be big…
                        </div>
                    </div>
                </li>
                <li class="media testimonial p-2 mb-2">
                    {% asset home/testimonials/testimonial2.png class="mr-3 testimonial-image" alt="testimonial 2 avatar" %}
                    <div class="media-body">
                        <h6 class="mt-0 testimonial-name">Nuichan</h6>
                        <div class="testimonial-text">
                            From a sellers point of view, I only had easy, swift transactions so nothing but thumbs up there!
                        </div>
                    </div>
                </li>
                <li class="media testimonial p-2 mb-2">
                    {% asset home/testimonials/testimonial3.png class="mr-3 testimonial-image" alt="testimonial 3 avatar" %}
                    <div class="media-body">
                        <h6 class="mt-0 testimonial-name">StoneBanana</h6>
                        <div class="testimonial-text">
                            OpenBazaar has done the job of providing a fee-free trading platform that’s allowed my shop to be discovered as well as to
                            complete many transactions successfully!
                        </div>
                    </div>
                </li>
                <li class="media testimonial p-2 mb-2">
                    {% asset home/testimonials/testimonial4.png class="mr-3 testimonial-image" alt="testimonial 4 avatar" %}
                    <div class="media-body">
                        <h6 class="mt-0 testimonial-name">VirusMedia</h6>
                        <div class="testimonial-text">
                            We’re proud to be part of this pioneering effort! The community has been great, the developers have been gracious and we’ve
                            been having a blast using the chat feature
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-12 give-it-a-try p-5 mt-3">
            <div class="row">
                <div class="col-8 d-none d-lg-block">
                    <span class="bold">Give it a try!</span> OpenBazaar costs nothing to download and use. There are no fees to list items,
                    and no fees when an item is sold. It’s completely free e-commerce.
                </div>
                <div class="col-12 col-lg-4 text-center">
                    <a href="{{site.baseurl}}/mobile-updates" class="button big download d-lg-none">Get It for Desktop</a>
                    <a href="{{site.baseurl}}/download" class="button big download d-none d-lg-inline-flex">DOWNLOAD</a>
                    <div class="button-subtitle">
                        <span class="d-lg-none">
                            <div>
                                OpenBazaar is currently for Desktop only.
                            </div>
                            <div>
                                Email yourself a reminder link to download on Desktop.
                            </div>
                        </span>
                        <span class="d-none d-lg-block">for Windows/Mac/Linux</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 p-5">
            <div class="row">
                <div class="col-md-6 col-12 text-center mb-md-0 mb-4">
                    <a href="{{site.baseurl}}/blog" class="button big arrow-animation">Latest Blog Updates</a>
                </div>
                <div class="col-md-6 col-12 text-center">
                    <a href="{{site.baseurl}}/newsletter" class="button big arrow-animation">Join the Mailing List</a>
                </div>
            </div>
        </div>
    </section>
</div>
