--- 
layout: default 
---
<div class="container limited">
    <section class="row">
        <div class="col-12">
            {% include modules/page-title.html subTitle="Currently Desktop Only" title="Mobile Updates" wrapperClass="text-center" %}
        </div>
        <div class="col-12 text-center">
            <a href="https://gethaven.app" target="_blank" class="havenBtn">Download Haven for Mobile</a>
        </div>
        <div class="col-12 button-subtitle">
            <p class="medium">OpenBazaar is an open source application for Windows, Mac and some Linux desktops.</p>
            <p class="medium">To access the OpenBazaar marketplace on your mobile device, check out <a href="https://gethaven.app" target="_blank"><b>Haven</b></a>.</p>
        </div>
    </section>
</div>