--- 
layout: default 
---
<div class="container limited">
    <section class="row">
        <div class="col-12">
            {% include modules/page-title.html subTitle="Currently Desktop Only" title="Mobile Updates" wrapperClass="text-center" %}
        </div>
        <div class="col-12">
            <p class="medium">
                OpenBazaar is currently for desktop only. Email yourself a reminder link to download on desktop & sign up for our newsletter to get our latest updates.
            </p>
            {% include modules/mailchimp.html newsletterID="5029d11903" motivationText="Remind yourself!" %}
        </div>
    </section>
</div>