--- 
layout: default 
---
<div class="container limited">
    <section class="row">
        <div class="col-12">
            {% include modules/page-title.html subTitle="SIGN UP & STAY FRESH" title="Newsletter" wrapperClass="text-center" %}
        </div>
        <div class="col-12">
            <p class="medium">
                Subscribe to our newsletter to stay up to date with new OpenBazaar features and releases, buying & selling tips, featured marketplace listings, Bitcoin & cryptocurrency industry news and more.
            </p>
            {% include modules/mailchimp.html newsletterID="66c0aaaa42" motivationText="Stay up to date with the latest updates!" %}
        </div>
    </section>
</div>