--- 
layout: default 
---
<div class="container limited">
    <section class="row">
        <div class="col-12 text-left">
            
            {% include modules/page-title.html title="Scam Prevention" wrapperClass="text-center" %}
        </div>
        <div class="col-12 text-left">
                <div style="border: 2px solid #e02b20; padding: 10px;">
            Please read <a href="https://www.reddit.com/r/OpenBazaar/comments/7u1e1a/scammer_megathread_information">this thread on Reddit</a> to see which vendors and moderators have been reported to scam users on the OpenBazaar platform.
        </div>
    </div>
        <div class="col-12 mt-5">
            {% include modules/embeded-video.html url="https://www.youtube.com/embed/hrYheJdyNfk"%}
        </div>
        <div class="col-12">
            {{content}}
        </div>
    </section>
</div>