--- 
layout: default 
---
<div class="container limited">
    <section class="row">
        <div class="col-12 text-left">
            {% include modules/page-title.html subTitle="HAVE A QUESTION? NEED HELP?" title="Support" wrapperClass="text-center" %}
        </div>
        <div class="col-12 my-5">
            <p>Get answers to the most common questions about OpenBazaar and join a community of helpful peers also working
                to build the future of ecommerce.</p>
        </div>
        <div class="col-12 col-lg-6 mb-5 text-center">
            <div class="list-border p-4">
                <h3 class="emphasis-text faq-title">Frequently Asked Questions</h3>
                <a href="https://openbazaar.zendesk.com/hc/en-us" class="button big mt-3">Zendesk</a>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-5 text-center">
            <div class="list-border p-4">
                <h3 class="emphasis-text faq-title">Community Discussion</h3>
                <a href="https://www.reddit.com/r/OpenBazaar/" class="button big mt-3">Reddit</a>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-5 text-center">
            <div class="list-border p-4">
                <h3 class="emphasis-text faq-title">Development</h3>
                <a href="https://github.com/openbazaar" class="button big mt-3">Github</a>
            </div>    
        </div>
        <div class="col-12 col-lg-6 mb-lg-5 text-center">
            <div class="list-border p-4">
                <h3 class="emphasis-text faq-title">Latest Updates/News</h3>
                <a href="https://twitter.com/openbazaar" class="button big mt-3">Twitter</a>
            </div>    
        </div>
    </section>
    <section class="row">
        <div class="col-12">
            <h4 class="emphasis-text">Have feedback you’d like to share with OpenBazaar?</h4>
            <ul class="list-unstyled">
                <li><a class="general-link" href="https://www.openbazaar.org/buyer-survey/">Fill out the Buyer survey</a></li>
                <li><a class="general-link" href="https://www.openbazaar.org/vendor-survey/">Fill out the Vendor survey</a></li>
            </ul>
        </div>
    </section>
</div>