--- 
layout: default 
---
<div class="container limited">
    <section class="row">
        <div class="col-12">
            {% include modules/page-title.html subTitle='THE OPENBAZAAR TOKEN IS LAUNCHING IN 2018! <img draggable="false" class="emoji" alt="rocket" src="https://s.w.org/images/core/emoji/2.4/svg/1f680.svg">' title="OpenBazaar Token" wrapperClass="text-center" %}
        </div>
        <div class="col-12">
            {% include modules/mailchimp.html newsletterID="66c0aaaa42" motivationText="Sign up to receive news about the token release!" %}
        </div>
    </section>
    
</div>
<div class="container-fluid dotted-bg">
    <div class="row">
        <div class="col-12">
            <div class="container limited">
                <section class="row token-content-wrapper">
                    <div class="col-12 token-content list-border p-5">
                        {{content}}
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>