<header class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{{site.baseurl}}/">
            {% asset home/openbazaar-logo.png class="openbazaar-logo" alt="openbazaar logo" %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-top" aria-controls="navbar-top"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span> Menu
        </button>
        <div class="collapse navbar-collapse text-center text-lg-left" id="navbar-top">
            
            <ul class="navbar-nav ml-auto">
                {%- assign current = page.url | downcase | split: '/' -%}
                <li class="nav-item ml-md-2 {% if current[1] == 'features' %}active {% endif %}">
                    <a class="nav-link" href="{{site.baseurl}}/features/">Features
                        {% if current[1] == 'features' %}
                            <span class="sr-only">(current)</span>
                        {% endif%}
                    </a>
                </li>
                <li class="nav-item ml-md-2 {% if current[1] == 'applications' %}active {% endif %}">
                    <a class="nav-link" href="{{site.baseurl}}/applications/">
                        Applications
                        {% if current[1] == 'applications' %}
                            <span class="sr-only">(current)</span>
                        {% endif%}
                    </a>
                </li>
                <li class="nav-item ml-md-2">
                    <a class="nav-link" href="https://api.openbazaar.org/" target="_blank">API</a>
                </li>
                <li class="nav-item ml-md-2 {% if current[1] == 'developers' %}active {% endif %}">
                    <a class="nav-link" href="{{site.baseurl}}/developers/">
                        Developers
                        {% if current[1] == 'developers' %}
                            <span class="sr-only">(current)</span>
                        {% endif%}
                    </a>
                </li>
                <li class="nav-item ml-md-2 {% if current[1] == 'support' %}active {% endif %}">
                    <a class="nav-link" href="{{site.baseurl}}/support/">
                        Support
                        {% if current[1] == 'support' %}
                            <span class="sr-only">(current)</span>
                        {% endif%}
                    </a>
                </li>
                <li class="nav-item ml-md-2 {% if current[1] contains 'blog' %}active {% endif %}">
                    <a class="nav-link" href="{{site.baseurl}}/blog/">
                        Blog
                        {% if current[1] contains 'blog' %}
                            <span class="sr-only">(current)</span>
                        {% endif%}
                    </a>
                </li>
                <li class="nav-item ml-md-2">
                    <a href="{{site.baseurl}}/download/" class="button small download d-lg-inline-flex">DOWNLOAD</a>
                </li>
            </ul>
        </div>
    </nav>
</header>