<section class="row pt-0 {% if include.onlyExcerpt %}list-border mb-5{% endif %}">
    {% unless include.post.noHeadingImage == true %}
        <div class="col-12 post-heading-image w-100 border-bottom">

        </div>
        {% asset blog/openbazaar-logo.png class="post-openbazaar-logo mx-auto" alt="openbazaar-log0" %}
    {% endunless %}
    <div class="col-12">
        <div class="row text-center mt-4">
            {% unless include.post.noHeadingImage == true %}
                <div class="col"></div>
                <div class="col-8">
                    <a href="{{ include.post.url | relative_url }}">
                        <h3 class="post-title">
                            {{include.post.title}}
                        </h3>
                    </a>
                </div>
                <div class="col"></div>
                <div class="col-12 d-flex justify-content-between my-4">
                    <div class="post-emojis">
                        <i class="fab fa-bitcoin post-icon-bitcoin"></i>
                        <img draggable="false" class="emoji medium post-emoji" alt="world emoji" src="https://s.w.org/images/core/emoji/2.4/svg/1f30e.svg">
                        <img draggable="false" class="emoji medium post-emoji" alt="✌" src="https://s.w.org/images/core/emoji/2.4/svg/270c.svg">
                    </div>
                    <a class="post-openbazaar-link" href="{{site.baseurl}}/">OpenBazaar.org</a>
                </div>
            {% else %}
                <div class="col-12 text-left mb-3">
                    <a href="{{ include.post.url | relative_url }}">
                        <h3 class="post-title alone">
                            {{include.post.title}}
                        </h3>
                    </a>
                </div>
            {% endunless %}
            <div class="col-12 post-date text-left mb-3">
                {{include.post.date | date: "%b %-d, %Y"}}
            </div>
            {% if include.onlyExcerpt %}
                <div class="col-12 text-left post-container">
                    {{ include.post.excerpt | | strip_html }}
                </div>
                <div class="col-12 text-left">
                    <a href="{{ include.post.url | relative_url }}">Read more...</a>
                </div>
            {% else %}
                <div class="col-12 text-left post-container">
                    {{ include.post.content }}
                </div>
            {% endif %}
        </div>
    </div>
</section>