<div class="row recent-updates-wrapper border-bottom border-top">
    <div class="col-12">
        <section class="container">
            <div class="row">
                <div class="col-12 mb-4 emphasis-text">
                    <h3 class="recent-updates-heading">Recent updates</h3>
                </div>
                <div class="col-12">
                    <div class="card-deck text-center">
                        {% for post in site.posts limit:4 %}
                            <div class="card p-3 mb-4">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <a href="{{ post.url | relative_url }}">
                                        <h5 class="recent-updates-title">{{ post.title | strip_html}}</h5>
                                    </a>
                                    <div class="recent-updates-body mt-2">
                                        {{ post.excerpt | truncatewords: 40 | strip_html }}
                                    </div>

                                    <a href="{{ post.url | relative_url }}" class="button small mt-4 mx-auto">read more</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>